.c-input {
  //box-sizing: border-box;
  //width: 100%;
  //height: 25px;
  //border: thin solid black;
  //text-align: center;
  //margin: 4px;

  &--preset {
    box-sizing: border-box;
    width: 140px;
    height: 25px;
    border: thin solid black;
    text-align: center;
    margin: 0 auto;
  }
}

